<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <img src="/assets/svg/logo.svg" alt="Logo">
    </a>
    <div class="header__content">
      <div class="header__menu">
        <nav>
          <ul>
            <li>
              <a>Услуги</a>
            </li>
            <li>
              <a>О нас</a>
            </li>
            <li>
              <a>Статьи</a>
            </li>
            <li>
              <a>Отзывы</a>
            </li>
            <li>
              <a>Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <a class="header__phone" href="tel:+74993431334">
        +7 (499) 343-13-34
      </a>
      <div class="header__profile">
        <a href="#">
          <img src="/assets/svg/user.svg" alt="User">
        </a>
        <span>Войти</span>
      </div>
    </div>
  </div>
</header>
