@import "variables";
@import "mixins";

.auth__form {
  .auth__title {
    color: $second-base-text-color;
    font-family: "Lora", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 40px;
  }

  .auth__inputs {
    margin-bottom: 40px;

    .auth__input {
      display: flex;
      margin-bottom: 5px;

      input {
        width: 422px;
      }
    }

    .auth__checkbox {
      max-width: 422px;
      display: flex;
      align-items: baseline;
      gap: 10px;
      margin-top: 12px;

      input {
        margin: 0;
        cursor: pointer;
      }

      label {
        color: $base-text-color;
        @include head-lora-14;
        cursor: pointer;

        a {
          color: $second-base-text-color;
        }
      }
    }
  }

  .auth__btn {
    margin-bottom: 10px;

    button.btn {
      width: 422px;
      padding: 15px 40px;
      font-size: 16px;
    }
  }

  .auth__link {
    color: $black-text-color;
    @include head-lora-14;
    display: flex;
    align-items: center;
    gap: 7px;

    a {
      text-decoration: none;
      color: $second-base-text-color;
      @include head-lora-14;
    }
  }
}
