@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}


.btn {
  text-align: center;
  border-radius: 5px;
  background: $second-base-text-color;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
}
